name: vuegoue
services:
  postgres:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
    user: root
    ports:
      - "5432:5432"

  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /server
    environment:
      - PORT=${PORT}
    ports:
      - "1323:1323"
    depends_on:
      - postgres
    user: root

  web:
    image: node:20-alpine
    volumes:
      - ./web:/web
      - node_modules:/web/node_modules
    working_dir: /web
    ports:
      - 5173:5173
    depends_on:
      - server
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - ENV=docker

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin4
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  node_modules:
